:root{
    --primary-color: #3378FA;
    --background-color: #FFF;
    --second-background: #F3F3F3;
    --font-body: 'Space Grotesk'  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}
body h1{
    font-size: 40px;
}
body h2{
    font-size: 1.8em;
}
body p{
     font-size: 0.8em;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
}
#logo{
    color: var(--primary-color);
}
#menu-desktop{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
img{
    max-width: 100%;
    max-height: 600px;
    display: block;
}
#hero{
    flex-direction: column;
    flex-wrap: wrap;
}
#hero h1{
    text-align: center;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0 20px 0;
}
#hero p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 15px 20px 15px;
}
#hero img{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    padding: 15px;
}
#intro{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 10px;
    text-align: center;
}
#intro img{
    max-width: 100%;
    max-height: auto;
    padding: 10px;
}
#firts-text-intro{
    padding: 90px 0px;
}
#intro h2{
    padding: 30px 0;
}
#second-text-intro{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#second-text-intro{
    display: flex;
    justify-content: center;
}
#second-text-intro img{
    width: 80%;
    height: auto;
    padding: 3rem 0 3.5rem 0;
}
#list{
   background-color: var(--second-background);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
   gap: 0.7rem;
   padding-bottom: 48px;
}
#list h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#text-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.background{
    overflow: hidden;
    background-color: var(--second-background);
    border-radius: 20px;
    max-width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#list{
    font-size: 0.9em;
}
#second-text-intro img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: auto;
    height: 100%;
}
.question{
    background-color: var(--background-color);
    padding: 1.1rem;
    display: flex;
    justify-content: space-between;
    width: 88%;
    border-radius: 5%;
}
.question2{
    border-radius: 5%;
    background-color: var(--background-color);
    padding: 1.2rem 1rem 1.2rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 88%;
    flex-wrap: wrap;
}
#resposta{
    padding-right: 50px;
    font-size: 0.7em;
    padding-top: 5px;
}
#answer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#br{
    height: 100px;
    background-color: var(--background-color);
}
.footer{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 15px;
}
#hero-footer h1{
    margin-bottom: 15px;
    margin-top: 60px;
}
#hero-footer p{
    margin-bottom: 15px;
    line-height: 170%;
}
#hero-footer button{
    margin: 40px 0 80px 0;
    border: var(--background-color);
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 10px 15px;
}
#footer-main p{
    line-height: 170%;
}
#footer-navigation nav ul{
    list-style: none;
}
#footer-navigation{
    margin-top: 90px;
    font-size: 0.9em
}
.footer-about{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 20%;
}
#footer-links{
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr; 
    display: flex;
    justify-content: space-between;
    padding-bottom: 20%;
}
.link li{
    padding: 10px 0px;
}
#final-footer{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#row{
    display: flex;
    flex-direction: row;
}
#color{
    margin-left: 2px;
    color:#A0DA7A;
}